<main>
  <header>
    <div>name</div>
    <div>profile</div>
  </header>

  <div class="container">
    <ul class="slider">
      <li>item1</li>
      <li>item2</li>
      <li>item3</li> 
    </ul>


    <div class="calendar">
      テキストカラム
    </div>
    
  </div>

  
</main>