<main>
  <header>
    <div>name</div>
    <div>profile</div>
  </header>

  <div class="container">
    <ul class="slider">
      <li>
        <div class="list">
          <a href="#">体温</a>
          
        </div>
      </li>
      <li>
        <div class="list">
          <a href="#">血圧</a>
        </div>
      </li>
      <li>
        <div class="list">
          <a href="#">脈拍</a>
        </div>
      </li> 
      <li>
        <div class="list">
          <a href="#">呼吸</a>
        </div>
      </li> 
      <li>
        <div class="list">
        </div>
      </li> 
    </ul>


    <div class="calendar">
     
    </div>
    
  </div>

  
</main>