<h2><%= @profile.nickname %> さんのmemo履歴</h2>

<table>
  <tr>
    <th>メモ</th>
    <th>日時</th>
  </tr>
  <% @memos.each do |m| %>
  <tr>
    <td><%= m.note %></td>
    <td><%= m.measured_at.strftime("%Y-%m-%d %H:%M") %></td>
  </tr>
<% end %>
</table>