<h2><%= @selected_profile.nickname %> さんの体温履歴</h2>

<table>
  <tr>
    <th>体温</th>
    <th>測定日時</th>
  </tr>
  <% @temperatures.each do |tem| %>
  <tr>
    <td><%= tem.body_temperature %></td>
    <td><%= tem.measured_at.strftime("%Y-%m-%d %H:%M") %></td>
  </tr>
<% end %>
</table>