main {
  width: 100vw;
  height: 100vh;
  background-color: azure;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  background-color: aquamarine;
}

.container {
  width: 35%;
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
}

ul {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}



.list {
  margin: 50px 0;
}

.list input{
  width: 150px;
  padding: 5px;
}

.blood-CSS input {
  width: 80px;       
  padding: 5px;
}

.blood-CSS {
  display: flex;
  justify-content: center;
  gap: 10px;          
}



li .note textarea {
  width: 250px;
  height: 100px;
}

.submit-btn {
  display: block;
  margin: 0 auto 50px;
}