main {
  width: 100vw;
  height: 100vh;
  background-color: azure;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  background-color: aquamarine;
}

.container {
  width: 100%;
  background-color: cornflowerblue;
  display: flex;
}

.slider {
  width: 30%;
  height: 100%;
  background-color: antiquewhite;
  margin: 0;
}

li {
  list-style: none;
}

.list {
  width: 80%;
  height: 50px;
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:aliceblue;
}

