header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background-color: aquamarine;
  height: 10vh;
}

main {
  background-color: azure;
  display: flex;
}

.container {
  width: 35%;
  height: 100%;
  background-color: cornflowerblue;
  position: relative;
}

ul {
  display: flex;
  margin: 0;
  padding: 40px 0 0;
  list-style: none;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

li input{
  width: 150px;
  padding: 5px;
}

.temperature-field,
.breathing-field {
  position: relative;
  display: inline-block;
}

.temperature-field input,
.breathing-field input  {
  padding-right: 25px; 
}

.temperature-field::after,
.breathing-field::after {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; 
}

.temperature-field::after{
  content: "℃";
}

.breathing-field::after{
  content: "%";

}

.blood-CSS input {
  width: 80px;       
  padding: 5px;
}

.blood-CSS {
  display: flex;
  justify-content: center;
  gap: 10px;          
}



li .note textarea {
  width: 220px;
  height: 100px;
}

.pictogram {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
  width: 70px;
  height: 90px;
  background-size: cover;
  background-position: center;
}

/* =============================================== */

.container2 {
  width: 65%;
  background-color: black;
}

